#gramado{
  background:green;
  width: 100%;
  height: 850px;
  margin: 20px auto;
  position: relative;
}
.buttons button{
  height: 50px;
}
.lista{
  background: #f2f2f2;
  margin-top: 20px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 20px #666;
}
.lista h2{
  text-align: center;
  padding: 20px;
}
.lista ul{
  list-style: none;
  font-size: 16px;
  font-weight: 600;
}
.lista li{
  padding: 10px;
  border:1px solid #666;
  border-radius: 20px;
  margin:10px 0;
  transition: background 0.4s ease-in;
}
.lista li:hover, .lista li:active, .lista li:focus{
  background-color: aquamarine;
  cursor: pointer;
}
#linhacampo{
  border:5px solid white;
  width: 97%;
  left:1.5%;
  top:1.1%;
  height: 98%;
  position: absolute;
}
#golTop{
  border:5px solid white;
  width: 40%;
  height:20%;
  position: absolute;
  left:30%;
  top:1%;
}
#golBot{
  border:5px solid white;
  width: 40%;
  height:20%;
  position: absolute;
  left:30%;
  bottom:1%;
}
#linhaCentral{
  border:2px solid white;
  width: 100%;
  position: absolute;
  top: 50%;
}
#circuloCentral{
  border:5px solid white;
  border-radius: 100%;
  width: 50%;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 25%;
}
.circleJogador{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color:whitesmoke;
  box-shadow: 0 0 20px #332;
  cursor: pointer;
}
.circleJogador p{
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  width: 130px;
  font-weight: 600;
  background-color: black;
  color: aquamarine;
  padding: 5px;
  bottom:-10px;
}
#gol{
  position: absolute;
  bottom: 5%;
  left: 45%;
}
#zag1{
  position: absolute;
  bottom: 15%;
  left: 25%;
}
#zag2{
  position: absolute;
  bottom: 15%;
  right: 25%;
}
#latD{
  position: absolute;
  bottom: 25%;
  right: 5%;
}
#latE{
  position: absolute;
  bottom: 25%;
  left: 5%;
}
#vol{
  position: absolute;
  bottom: 35%;
  left: 45%;
}
#mE{
  position: absolute;
  top: 35%;
  left: 25%;
}
#mD{
  position: absolute;
  top: 35%;
  right: 25%;
}
#pD{
  position: absolute;
  top: 20%;
  right: 10%;
}
#pE{
  position: absolute;
  top: 20%;
  left: 10%;
}
#ata{
  position: absolute;
  top: 5%;
  left: 45%;
}